<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <section class="vh-100">
            <div class="container py-5 h-100">
                <form (ngSubmit)="onSubmit()" #userForm="ngForm">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card bg-dark text-white" style="border-radius: 1rem;">
                            <div class="card-body p-5 text-center">
                
                            <div class="mb-md-5 mt-md-4 pb-5">
                
                                <h2 class="fw-bold mb-2 text-uppercase">Users Login</h2>
                                <p class="text-white-50 mb-5">Introduce tu email y password</p>
                                <span class="alert" *ngIf="mostrarMensaje">{{mensaje}}</span>
                                
                                <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typeEmailX">Email</label>
                                <input type="email" id="typeEmailX" class="form-control form-control-lg" required
                                [(ngModel)]="email" name="email"/>
                                
                                </div>
                
                                <div class="form-outline form-white mb-4">
                                <label class="form-label" for="typePasswordX">Password</label>
                                <input type="password" id="typePasswordX" class="form-control form-control-lg" required
                                [(ngModel)]="password" name="password"/>
                                </div>
                
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Entrar</button>
                
                            </div>
                
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </body>
</html>